<mat-card>
    <mat-card-header>
      <mat-card-title>Введите цифру</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="inputNumber"
            [disabled]="!isInputEnabled"
            placeholder="Введите цифру"
          />
        </mat-form-field>
      </div>
  
      <div>
        <button mat-raised-button (click)="enableInput()" [disabled]="isInputEnabled || (savedNumber$ | async) !== null">
          Внести цифру
        </button>
        <button mat-raised-button color="primary" (click)="saveNumber()" [disabled]="!inputNumber">
          Сохранить
        </button>
        <button mat-raised-button color="accent" (click)="editNumber()" [disabled]="(savedNumber$ | async) === null">
          Изменить
        </button>
      </div>
  
      <div *ngIf="savedNumber$ | async as savedNumber">
        <p>Сохранённая цифра: {{ savedNumber }}</p>
      </div>
    </mat-card-content>
  </mat-card>