<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="number"
        [(ngModel)]="inputNumber"
        [disabled]="!isInputEnabled"
        placeholder="Введите цифру"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="button-spacing" (click)="enableInput()" [disabled]="isInputEnabled || (savedNumber$ | async)">
      Внести цифру
    </button>
    <button mat-raised-button class="button-spacing" color="primary" (click)="saveNumber()" [disabled]="!inputNumber || (savedNumber$ | async)">
      Сохранить
    </button>
    <button mat-raised-button class="button-spacing" color="accent" (click)="editNumber()" [disabled]="!(savedNumber$ | async)">
      Изменить
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="savedNumber$ | async as savedNumber">
  <p>Сохранённая цифра: {{ savedNumber }}</p>
</div>